body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

input {
    padding: 10px;
    width: 70%;
}

button {
    padding: 10px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: green;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}